body {
	background-color: #f8f8f8;
}

p {
	color: black;
}

li {
 	list-style-type: none;
 }
 
 .menu a {
	 color: red;
	 font: italic;
	 text-decoration: underline;
 }
 
 h3 {
	 color: black;
	 font-weight: 400;
	 font-size: 18px;
	 background-color: #eaeaea;
	 padding: 3px;
 }
 
 .anons{
	 color: #707070;
	 font-size: 14px;
	 font-style: italic;
	 line-height: 16px;
 }
 
 .full{
	 color: #484343;
	 font-size: 16px;
	 font-weight: 400;
	 line-height: 24px;
	 text-align: left;
 }
 
 .full li {
	 list-style-image: url(../img/placeholder.svg);
 }
 
 .props{
	 color: grey;
	 font-family: sans-serif, cursive;
 }
 
 .props li{
	
	background: url("../img/check-mark.svg") no-repeat left 5px;
    padding-left: 5em;
    padding-bottom: 2em;
    margin: 0.5em;
    height: 2em;
    vertical-align: middle;
	 
 }
 
 
 input, textarea {
	 border: gray;
	 padding: 3px;
	 border-style: dotted;
	 color: red;
	 background-color: white;
	 width: 300px;
	 height: 1.5 em;
 }
 
 .button {
	 border-style: none;
	 background-color: gray;
	 color: black;
	 width: 100px;
 }
 
 img{
	 outline: 1px solid #000;
 }